.DS_Store
.php_cs.dist
.php_cs.cache

/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/gulp/node_modules
/.grunt
*.map

!/pub/
pub/*
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
!/pub/static/
/pub/static/*
!/pub/static/.htaccess
!/pub/static/global/
!/pub/static/global/*

/var/*
/vendor/

*.txt
/*.md
.travis.yml
*.sample
app/etc/*
!app/etc/config.php
app/autoload.php
app/bootstrap.php
app/functions.php
app/.htaccess
bin/*
dev/*
lib/*
phpserver/*
!pub/robots.txt
!pub/manifest.json
!pub/flock_push_worker.js
!pub/mindbox-services-worker.js
!/pub/cmsmagazineceb22038fbb662cb7e1bc9a0e8806c53.txt
setup/*
.htaccess
.user.ini
/index.php

auth.json
log/capistrano.log
app/design/frontend/Mygento/goldapple/web/css/*.css
app/design/frontend/Mygento/goldapple/web/css/theme/**/*.css
!app/design/frontend/Mygento/goldapple/web/css/vendor

/generated
/vue-dist
/storybook-static

app/design/frontend/Mygento/goldapple/web/scss/.idea/

gulp/.idea/
gulp/config/browser-sync.json

/brand_holder_request/
.editorconfig
